.dialog-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0e1217;
    color: white;
}

.dialog-main {
    width: 68%;
    padding: 10px;
    border-right: 1px solid #a8b3cf;
}

.dialog-header {
    width: 100%;
}

.dialog-content {
    width: 100%;
}

.dialog-right-sidebar {
    margin-top:50px;
    width: 27%;
    height: 100px;
}

.action-button {
    margin: 15px 0px;
    padding: 0;
    height: 0;
    width: 0;
    color: #a8b3cf;
}

.previous,
.next {
    border-radius: 10px;
    border: 1px solid white;
    margin-right: 10px;
    padding: 2px;
    min-width: 0;
    color: white;
}

#customized-dialog-title {
    padding: 10px 0;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 70vw
}